<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--   使用Spring来创建对象，在Spring中这些都称为bean-->
   <bean id="Impl" class="all.mapper.impl.UserMapperImpl"></bean>
   <bean id="SqlImpl" class="all.mapper.impl.UserMapperSqlImpl"></bean>

<!--    ref：引用spring容器创建好的对象-->
<!--    value：具体的值，基本数据类型-->

    <bean id="UserServiceImpl" class="all.service.UserServiceImpl">
        <property name="userMapper" ref="SqlImpl"></property>
    </bean>



</beans>